.CLASS-WrapperElement{
    color: #ffffffff;
    margin: 0;
    padding: 0;
    position: relative;
}

.CLASS-WrapperElement h1,
.CLASS-WrapperElement h2,
.CLASS-WrapperElement h3,
.CLASS-WrapperElement h4,
.CLASS-WrapperElement h5,
.CLASS-WrapperElement h6,
.CLASS-WrapperElement p{
    font-weight: normal;
    margin-block: 0;
}
.CLASS-WrapperElement * + h1,
.CLASS-WrapperElement * + h2,
.CLASS-WrapperElement * + h3,
.CLASS-WrapperElement * + h4,
.CLASS-WrapperElement * + h5,
.CLASS-WrapperElement * + h6,
.CLASS-WrapperElement * + p{
    margin-block: .25em;
}
.CLASS-WrapperElement ins{
    text-decoration: none;
    transition: color 1s ease-out;
}
.CLASS-WrapperElement ins:hover{
    color: #ff6f00;
    transition: none;
}

.CLASS-WrapperElement ins[data-unit]::after{
    content: attr(data-unit);
}
.CLASS-WrapperElement h1{
    font-size: 24px;
    line-height: 32px;
}




.CLASS-SettingsImage{
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    margin: 0;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMDAgLTEwMCAyMDAgMjAwIiBzdHlsZT0id2lkdGg6IDIwMHB4OyBoZWlnaHQ6IDIwMHB4OyI+DQogICAgPGRlZnM+DQogICAgICAgIDxwYXRoIGlkPSJHZWFyVGhpbmciIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjE1IiBkPSJNIC0xNSA1NSBMIC0xNSA4MCBMIDE1IDgwIEwgMTUgNTUgTCA0MiA0MCIgLz4NCiAgICA8L2RlZnM+DQogICAgPHVzZSBocmVmPSIjR2VhclRoaW5nIiB0cmFuc2Zvcm09InJvdGF0ZSgzMCkiIC8+DQogICAgPHVzZSBocmVmPSIjR2VhclRoaW5nIiB0cmFuc2Zvcm09InJvdGF0ZSg5MCkiIC8+DQogICAgPHVzZSBocmVmPSIjR2VhclRoaW5nIiB0cmFuc2Zvcm09InJvdGF0ZSgxNTApIiAvPg0KICAgIDx1c2UgaHJlZj0iI0dlYXJUaGluZyIgdHJhbnNmb3JtPSJyb3RhdGUoMjEwKSIgLz4NCiAgICA8dXNlIGhyZWY9IiNHZWFyVGhpbmciIHRyYW5zZm9ybT0icm90YXRlKDI3MCkiIC8+DQogICAgPHVzZSBocmVmPSIjR2VhclRoaW5nIiB0cmFuc2Zvcm09InJvdGF0ZSgzMzApIiAvPg0KICAgIDxjaXJjbGUgcj0iMjAiIGZpbGw9InRyYW5zcGFyZW50IiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMTUiLz4NCjwvc3ZnPg==');
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
}
.CLASS-SettingsAndGraphWrapper{
    position: relative;
}
.CLASS-SettingsAndGraphWrapper > svg{
    overflow: visible;
}



.CLASS-WrapperElement svg{
    width: 450px;
    height: 220px;
}




.CLASS-SettingsMenu{
    opacity: 0;
    background-color: #0000007f;
    height: 100%;
    width: 100%;
    transition: opacity .5s;
    pointer-events: none;
    position: absolute;
    top: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: 24px;
}
.CLASS-SettingsImage:hover + div > .CLASS-SettingsMenu,
.CLASS-SettingsMenu:hover{
    pointer-events: auto;
    opacity: 1;
}

.CLASS-SettingsMenu > form{
    display: flex;
    padding: 5px;
}
.CLASS-SettingsMenu > form:hover{
    backdrop-filter: brightness(.8);
}
.CLASS-SettingsMenu > form > p{
    flex-grow: 0;
    width: fit-content;
    margin-bottom: 0;
    margin-right: auto;
    line-height: 32px;
    font-size: 24px;
}
.CLASS-SettingsMenu > form > .CLASS-Slider{
    width: 100px;
    max-width: 150px;
    flex-grow: 1;
    margin-right: 5px;
}
.CLASS-SettingsMenu > form > .CLASS-Slider::-webkit-slider-thumb{
    background-color: var(--opaque);
}
.CLASS-SettingsMenu > form > .CLASS-TextInput{
    width: 40px;
    max-width: 60px;
    flex-grow: 1;
    background-color: var(--transparent);
    border: 3px solid var(--less-transparent);
}

.CLASS-WrapperElement input{
    border: 0;
    outline: 0;
}

.CLASS-Slider{
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    margin-block: 11px;

    background-color: #cfcfcf7f;
    outline: none;
}
.CLASS-Slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 32px;
    background-color: #007fcfff;
    cursor: e-resize;
}

.CLASS-TextInput{
    font-size: 24px;
    font-family: Escape;
    background-color: #007faf9f;
    color: #ffffff;
    border-color: #007faf7f;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
}
.CLASS-TextInput::-webkit-outer-spin-button,
.CLASS-TextInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}