.CLASS-Wrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    box-sizing: border-box;
    outline: 1px solid black;
    outline-offset: -8px;
}
.CLASS-Wrapper > div{
    backdrop-filter: blur(3px);
}
.CLASS-TitleBar{
    background-color: #2BB8FF8F;
    border-bottom: 1px solid black;
    height: 32px;
    display: flex;
    align-items: center;
    user-select: none;
}
.CLASS-TitleText{
    color: #000000;
    margin-inline: 10px auto;
    padding: 1px 2px 3px 2px;
}
.CLASS-TitleBar > img{
    height: 32px;
    display: inline-block;
}
.CLASS-TitleBar > img:hover{
    backdrop-filter: brightness(.8);
}
.CLASS-Body{
    background-color: #0000007f;
    overflow: auto;
}